*.gem
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
vendor
Gemfile.lock

# IDE - VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# local dev - ssl
test/ssl
