.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  background-color: $alert-bg-color;
  border: 1px solid $alert-border-color;
  text-shadow: none;
  border-radius: 0px;
}

.alert {
  color: $alert-color;

  .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
  }

  &.alert-success {
    color: $alert-succes-color;
    background-color: $alert-succes-bg-color;
    border-color: $alert-succes-border-color;
  }

  &.alert-danger,
  &.alert-error {
    color: $alert-danger-color;
    background-color: $alert-danger-bg-color;
    border-color: $alert-danger-border-color;
  }

  &.alert-info {
    color: $alert-info-color;
    background-color: $alert-info-bg-color;
    border-color: $alert-info-border-color;
  }
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;

  > p,
  > ul {
    margin-bottom: 0;
  }

  p + p {
    margin-top: 5px;
  }
}

.close {
  float: right;
  font-size: $font-size;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);

  &:hover,
  &:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}