#header {
  // background: $header-color-dark;

  .navbar-section {
    &.main-menu {
      @include breakpoint(md) {
        display: none;
      }
    }
  }

  .navbar-brand {
    .site-title {
      display: block;
      font-size: 1.2rem;
    }
    .slogan {
      display: block;
      font-size: 0.7rem;
    }
  }

  // a {
  //   &:hover, &:focus, &.active {
  //     //color: $primary-color-light !important;
  //     &:not(.navbar-brand) {
  //       //border-bottom: solid 1px $primary-color-light;
  //     }
  //   }
  // }

  .dropmenu ul ul a {
    color: $dark-color !important;
    &:hover, &:focus, &.active {
      color: $primary-color-light !important;
      //border-bottom: none;
    }
  }

  .header-dark.header-transparent &:not(.scrolled) {
    a {
      //color: $dark-color !important;
      &:hover, &:focus {
        color: $primary-color-light !important;
      }
    }
  }
}

.no-showcase {
  &.header-transparent {
    #header {
      &:not(.scrolled) {
        a {
          color: $dark-color !important;
          &:hover, &:focus, &.active {
            color: $primary-color-light !important;
          }
        }
      }
    }
  }
}

.header-dark {
  #header.scrolled {
    background: $header-color-dark;
    a {
      color: $light-color; // !important;
      &:hover, &:focus {
        color: $light-color; // !important;
      }
    }
  }
}

.header-dark.header-transparent {
  #header.scrolled {
    a {
      color: $light-color !important;
      &:hover, &:focus, &.active {
        color: $primary-color-light !important;
        //&:not(.navbar-brand) {
          //border-bottom: solid 1px $primary-color-light;
        //}
      }
    }
    .dropmenu ul ul a {
      color: $dark-color !important;
      &:hover, &:focus, &.active {
        color: $primary-color-light !important;
      }
    }
  }
}

// Animate Fixed Header
// body.header-fixed.header-animated {
//   #header.scrolled {
//     .logo {
//       svg, img {
//         // width: 100px;
//         height: 34px;
//       }
//     }
//   }
// }
