// .hl-code {
//   figure.highlight {
//     margin: 0;
//     pre {
//       margin: 0;
//       padding: 0;
//       code {
//         background: inherit;
//       }
//     }
//   }
// }


// Codeblocks
pre code,
pre.xdebug-var-dump{
  background: inherit;
}

pre {
  code:not(.hljs):not([class*="language-"]) {
    background: inherit;
    color: darken($highlight-code-color, 5%);
  }
}

.highlight {
  table {
    td.gutter,
    td.rouge-gutter {
      padding-right: 1em;
      color: $highlight-code-gutter-color;
      border-right: 1px solid $highlight-code-gutter-color;
      text-align: right;
    }
    td.code,
    td.rouge-code {
      padding-left: 1em;
    }
  }
}

figure.highlight {
  margin: 1em 0;
  pre {
    margin: 0;
    padding: 0;
    background: $highlight-code-bg-color;
    code {
      color: darken($highlight-code-color, 5%);
    }
  }
}
.highlighter-rouge {
  clear:both;
  margin: 1em 0;
  pre {
    code {
      color: darken($highlight-code-color, 10%);
    }
  }
}

//figure.highlight,
.highlighter-rouge {
  .highlight pre { background-color: $highlight-code-bg-color; }
  .highlight .hll { background-color: $highlight-code-bg-color; }
}
