.title-h1h2 {
  h1.no-subtitle  {
    margin-bottom: 50px;
  }
}

img {
  &.float-left {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &.float-right {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

// Notices
.notices {
  //padding: 1px 1px 1px 30px;
  padding: 1px 30px;
  //margin: 1.5rem 0;
  border-left: 10px solid darkgrey;
  background: lightgrey;
  color: grey;

  &.info {
    border-left: 10px solid #5bc0de;
    background: #f4f8fa;
    color: #28a1c5;
  }

  &.warning {
    border-left: 10px solid #f0ad4e;
    background: #fcf8f2;
    color: #df8a13;
  }

  &.error,
  &.danger {
    border-left: 10px solid #d9534f;
    background: #fdf7f7;
    color: #b52b27;
  }

  &.success {
    border-left: 10px solid #5cb85c;
    background: #f1f9f1;
    color: #3d8b3d;
  }

  & > h1, & > h2,
  & > h3, & > h4,
  & > h5, & > h6 {
    margin-top: 1rem;
  }
}
p.notices {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Dropcaps */
.dropcap {
  //color: #555555;
  display: block;
  float: left;
  font-size: 3em;
  line-height: 1;
  padding: 0;
  margin: 0 8px 0 0;
  text-transform: uppercase;
}

// Icon Tweaks
i.la,
i.las,
i.lab {
  &.la-heart, &.la-heart-o {
    &.pulse {
      color: #920
    }
  }
  &.red {
    color: #920
  }
  &.green {
    color: #009200
  }
  &.blue {
    color: #000092
  }
}
