//
// Spectre Overrides
//

// Gray colors
// $dark-color: #303742 !default;

$border-color: lighten($primary-color, 65%) !default;

//
// End Spectre Overrides
//

// Control colors
$important-color: #b94a48 !default;
$info-color: #3a87ad !default;
$inverse-color: #333333 !default;

// Buttons colors
$btn-color: #FFFFFF !default;
$btn-light-color: #888888 !default;
$btn-light-bg-color: #e3e3e3 !default;
$btn-info-bg-color: #59bfdd !default;
$btn-warning-bg-color: #ffb742 !default;
$btn-danger-bg-color: #ea5f59 !default;
$btn-inverse-bg-color: #464646 !default;

// Alert colors
$alert-color: #c09853 !default;
$alert-bg-color: #fcf8e3 !default;
$alert-border-color: #fbeed5 !default;
$alert-succes-color: #468847 !default;
$alert-succes-bg-color: #dff0d8 !default;
$alert-succes-border-color: #d6e9c6 !default;
$alert-danger-color: #b94a48 !default;
$alert-danger-bg-color: #f2dede !default;
$alert-danger-border-color: #eed3d7 !default;
$alert-info-color: #3a87ad !default;
$alert-info-bg-color: #d9edf7 !default;
$alert-info-border-color: #bce8f1 !default;


// // Content wides
// $wides-vert-padding: 4rem 0 4rem;
// //$wide-1-bg-color: ;
// $wide-2-bg-color: #FFFFFF;
// $wide-3-bg-color: #f3f3f3;
// $wide-4-bg-color: $primary-color-light;


// // Footer four columns
// $footer-four-cols-color-dark: #333333;
// $footer-four-cols-text-light: $light-color;
// $footer-four-cols-text-dark: darken($dark-color, 15%);

// $footer-four-cols-link-color: #999999 !default;

// Footer
$footer-color-dark: #000;
// $footer-text-light: $light-color;
// $footer-text-dark: darken($dark-color, 15%);

// // Icons Awesome
// $icons-awesome-horiz-padding: 5px;

// Figure
//$figure-caption-font-family: Georgia,Times,serif !default;
$figure-caption-font-family: $base-font-family, $fallback-font-family !default;
$figure-caption-font-size: 1em;
$figure-caption-color: inherit; // $light-color;
$figure-caption-bg-color: inherit; // #333;

// Highlights
$highlight-code-color: #fff !default;
//$highlight-code-bg-color: #272822 !default;
$highlight-code-bg-color: #263238 !default;
$highlight-code-gutter-color: $gray-color-light !default;
