{% if post.teaser.image %}
  {% capture teaser %}{{ post.teaser.image }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser.image %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign grid_size = include.grid_size | default: 3 %}
{% if grid_size == 2 %}
  {% assign grid_class = "col-3 col-xs-12 col-sm-6 col-md-4 mt-2 mb-2" %}
{% elsif grid_size == 3 %}
  {% assign grid_class = "col-4 col-xs-12 col-sm-6 col-md-3 mt-2 mb-2" %}
{% elsif grid_size == 4 %}
  {% assign grid_class = "col-3 col-xs-12 col-sm-6 col-md-4 mt-2 mb-2" %}
{% else %}
  {% assign grid_class = "col-3 col-xs-12 col-sm-6 col-md-4 mt-2 mb-2" %}
{% endif %}

{% assign card_class = 'card' %}
{% if include.type == 'list' or include.card == false %}
  {% assign card_class = '' %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item {% if include.type == 'grid' %}column {{ grid_class }}{% endif %}">
  <article class="archive__item {{ card_class }} {% if include.classes %}{{ include.classes }}{% endif %}" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser card-image">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <div class="card-header">
      <div class="archive__item-title card-title h3 no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="las la-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </div>
      {% capture captured_page_meta %}
        {% include page__meta.html type=include.type %}
      {% endcapture %}
      {% capture page_meta %}{{ captured_page_meta | strip }}{% endcapture %}
      {% if page_meta != "" %}
        <div class="card-subtitle">{{ page_meta | strip }}</div>
      {% endif %}
    </div>
    {% if post.excerpt %}<p class="archive__item-excerpt card-body" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>