<div class="columns features">
    <div class="column col-4 col-md-6 col-sm-12">
        <div class="feature-icon">
            <i class="la la-fighter-jet"></i>
            <h6>Crazy Fast</h6>
        </div>
        <div class="feature-content">
            <p>Performance is not just an afterthought, we baked it in from the start!</p>
        </div>
    </div><!-- .column -->
    <div class="column col-4 col-md-6 col-sm-12">
        <div class="feature-icon">
            <i class="la la-database"></i>
            <h6>Easy to build</h6>
        </div>
        <div class="feature-content">
            <p>Simple text files means Grav is trivial to install, and easy to maintain</p>
        </div>
    </div><!-- .column -->
    <div class="column col-4 col-md-6 col-sm-12">
        <div class="feature-icon">
            <i class="la la-cubes"></i>
            <h6>Awesome Technology</h6>
        </div>
        <div class="feature-content">
            <p>Grav employs best-in-class technologies such as Twig, Markdown &amp; Yaml</p>
        </div>
    </div><!-- .column -->
</div><!-- .columns -->