<section id="header" class="section">
  <section class="container {{ site.grid-size | default: "grid-lg" }}">
    <nav class="navbar">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <section class="navbar-section logo">
        {%- include logo.html -%}
      </section>
      <section class="navbar-section main-menu">
        <nav class="dropmenu animated">
          {%- assign menu = site.menus.header -%}
          {%- assign menu_class = 'main-menu' -%}
          {%- include menus.html -%}
        </nav>
      </section>
    </nav>
  </section>
</section>

<div class="mobile-menu">
  <div class="button_container" id="toggle">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
  </div>
</div>