{% capture image_path %}{{ page.showcase.image | relative_url }}{% endcapture %}
<section id="showcase" class="section hero {{ page.showcase.classes | join: " " }}" {% if page.showcase.image %}style="background-image: url({{image_path}});"{% endif %}>
  <div class="image-overlay"></div>
  <section class="container {{ site.grid-size | default: "grid-lg" }}" style="text-align: center">
    {%- if page.showcase.title -%}
      <h1>{{ page.showcase.title }}</h1>
    {%- endif -%}
    {%- if page.showcase.subtitle -%}
      <h2>{{ page.showcase.subtitle }}</h2>
    {%- endif -%}
    {%- if page.showcase.content_title -%}
      <h3>{{ page.showcase.content_title }}</h3>
    {%- endif -%}

    {%- for el in page.showcase.content_items -%}
      {% comment %} <p>{{ el | markdownify }}</p> {% endcomment %}
      {{ el | markdownify }}
    {%- endfor -%}
  </section>
  {%- if page.showcase.to_start != false -%}
    <i id="to-start" class="pulse la la-angle-down"></i>
  {%- endif -%}
</section>