
.author__avatar img {
  max-width: 180px;
  border-radius: 50%;
}

.archive__content,
.page__related {
  .archive__item {
    word-break: break-word;
    &.card {
      -webkit-transition: all .3s ease-out;
              transition: all .3s ease-out;

      .card-title {
        &.h3 {
          line-height: 1.2;
        }
      }
      &:hover {
        @include shadow-variant(.2rem);
      }
    }
  }
}

.footnotes {
  background: $gray-color-light;
  padding: 0.4em;
}

.page__meta {
  margin-top: 1.2rem;
}
.page__meta-sep::before {
  content: "\2022";
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.taxonomy__section {
  padding-top: 1.4em;
}

// Pagination
.pagination {
  .page-item {
    &.btn {
      padding: 0;
      a {
        &:active {
          color: $btn-color;
        }
      }
    }

    a {
      display: block;
      padding: .4rem;
    }
    &.page-prev {
      text-align: left;
    }
    &.page-next {
      text-align: right;
    }
  }
}
