---
layout: default
---

{%- assign content_size = '' -%}
{%- assign sidebar_first_size = 'col-12' -%}
{%- assign sidebar_seconf_size = 'col-12' -%}

{%- if page.sidebar_first and page.sidebar_second -%}
  {%- assign content_size = 'column col-6 col-md-12' -%}
  {%- assign sidebar_first_size = 'col-3 col-md-12' -%}
  {%- assign sidebar_second_size = 'col-3 col-md-12' -%}
{%- elsif page.sidebar_first and page.toc -%}
  {%- assign content_size = 'column col-6 col-md-12' -%}
  {%- assign sidebar_first_size = 'col-3 col-md-12' -%}
  {%- assign sidebar_second_size = 'col-3 col-md-12' -%}
{%- elsif page.sidebar_first or page.author_profile or layout.author_profile -%}
  {%- assign content_size = 'column col-9 col-md-12' -%}
  {%- assign sidebar_first_size = 'col-3 col-md-12' -%}
{%- elsif page.sidebar_second and page.author_profile or layout.author_profile -%}
  {%- assign content_size = 'column col-6 col-md-12' -%}
  {%- assign sidebar_first_size = 'col-3 col-md-12' -%}
  {%- assign sidebar_second_size = 'col-3 col-md-12' -%}
{%- endif -%}

<section class="archive__content {% if page.author_profile or layout.author_profile or page.sidebar_first or page.sidebar_second %}columns{% endif %}" itemprop="text">
  {% if page.author_profile or layout.author_profile or page.sidebar_first %}
    <aside class="sidebar__left column {{ sidebar_first_size }}">
      {%- assign side = false -%}
      {% if page.sidebar_first %}
        {%- assign side = 'first' -%}
      {% elsif page.sidebar_second %}
        <!-- TODO: Check here -->
        {%- assign side = 'second' -%}
      {%- endif -%}
      {% include sidebar.html side=side %}
      {% comment %} {% include sidebar.html %} {% endcomment %}
    </aside>
  {%- endif -%}

  <div class="archive {{ content_size }}">
    {{ content }}
  </div>

  {% if page.sidebar_second %}
    <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %} {{ sidebar_second_size }}">
      {%- assign side = 'second' -%}
      {% include sidebar.html side=side %}
    </aside>
  {% endif %}
</section>
